@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 
  text-align: center; 
}

/* Default background color */
body {
  background-color: #7b3232; /* Change to your default color */
}

/* Dark mode background color */
body.dark-mode {
  background-color: #333333; /* Change to your dark mode color */
}

body {
  @apply bg-white text-black;
}

.container {
  @apply bg-gray-100;
}

/* Dark mode styles should be in Tailwind classes or use a `dark` class on the `body` element */
.dark {
  @apply bg-gray-900 text-white;
}

.dark .container {
  @apply bg-gray-900;
}
