@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 
  text-align: center; 
}

.container {
  min-height: 100vh; /* Ensures the container covers at least the viewport height */
   min-width: 100vw;
  display: flex;
  flex-direction: column; /* Allows content to expand and contract properly */
}

/* .content {
  flex: 1; /* Ensures the content area grows and shrinks as needed 
  display: flex;
  flex-direction: column;
} */

/* .sticky-top {
  position: sticky;
  top: 0; /* Ensures the sticky element stays at the top 
  background-color: inherit; /* Matches the container's background 
  z-index: 10; /* Keeps the sticky element above other content 
} */

body {
  @apply bg-white text-black;
}

.container {
  @apply bg-gray-100;
}

/* Dark mode styles should be in Tailwind classes or use a `dark` class on the `body` element */
.dark {
  @apply bg-gray-900 text-white;
}

.dark .container {
  @apply bg-gray-900;
}
