@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 
  text-align: center; 
}

.container {
  min-height: 100vh; /* Ensures the container covers at least the viewport height */
   min-width: 100vw;
  display: flex;
  flex-direction: column; /* Allows content to expand and contract properly */

}

/* .content {
  flex: 1; /* Ensures the content area grows and shrinks as needed 
  display: flex;
  flex-direction: column;
} */

.sticky-top {
  position: sticky;
  top: 0; 
  background-color: inherit; 
  z-index: 10; 
}

body {
  @apply bg-white text-black;
}

.container {
  @apply bg-gray-100;
}

/* Dark mode styles should be in Tailwind classes or use a `dark` class on the `body` element */
.dark {
  @apply bg-gray-900 text-white;
}

.dark .container {
  @apply bg-gray-900;
}

/* App.css */

html {
  scroll-behavior: smooth;
}

/* Optional: Add smooth transition for the scrollbar itself */
/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */
